name: Workflow CI

on: 
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  ArtefactBuilder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup NodeJS
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm run ci
      
      - name: Run Linter
        run: npm run lint:check
      
      - name: Run audit
        run: npm audit
      
      - name: Build project
        run: npm run build



